---
import AuthLayout from '../../layouts/AuthLayout.astro';
import { ResetPasswordForm } from '../../components/auth/ResetPasswordForm';
---

<AuthLayout title="Reset Password">
  <Fragment slot="heading">Reset your password</Fragment>
  <Fragment slot="subheading">
    Remember your password?{' '}
    <a href="/auth/signin" class="font-medium text-indigo-600 hover:text-indigo-500">
      Sign in
    </a>
  </Fragment>

  <ResetPasswordForm client:load />
</AuthLayout>